
.program-section ul
{
  text-align: left;
  list-style-position: inside;
  padding-left: 100px;
}

.masthead .brand-heading
{
  text-align: left;
}

.content-section .uncheck
{
  list-style-image:url("../img/uncheck.png")
}

.how-section 
{
  background: url("../img/salad-blur.jpg") no-repeat center center scroll; 
}

.how-section .container 
{
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-section 
{
  background: url("../img/contact.jpg") no-repeat center center scroll; 
}

.faq-section
{
  padding-top: 100px;
  padding-bottom: 0px;
}

#plan
{
	padding-top: 100px;
}

.plan-section img
{
	width: 100%;
	height: auto;
}

.plan-section ul
{
	list-style: none;
	margin-left: 0;
    padding-left: 1.2em;
    text-indent: -1.2em;
}

.plan-section li:before
{
	content: "-";
	float: left;
	display: block;
	width: 1.2em;
}

.asterik li:before
{
	content: "*";
}

.plan-section p
{
	margin-bottom: 10px;
}